/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Elements
# Header
    ## Header-Hamburger
    ## Header-Logo
# Home
    ## Hero-image
    ## Programss
# Blog
# Page-blog
# Content
# Footer    


/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
}

li {

}

section {
    width: 100%;
}

button:focus {
    outline:0;
    }

.main-container{
    width: 100%;
    display: flex;
}
.inner-container{
    width: 83.333333%;
    float: left;
    margin:0 auto;
    padding: 20px 0;
}
.flexbox-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

header {
    width: 100%;
    background-color: #CCC;
    height: 120px;
    display: flex;
    align-items: center;
}

nav {
    color: #FFF;
    width: 83.33333%;
    max-width: 1280px;
    margin: 0 auto;
    font-family: sans-serif;
}

/*--------------------------------------------------------------
## Header-Hamburger
--------------------------------------------------------------*/

#hamburger{
    width: 48px;
    position: relative;
    margin: 0 auto;
    min-height: 36px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    float: right;
}

#hamburger span{
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #FFF;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
    top: 0px;
}

#hamburger span:nth-child(2),#hamburger span:nth-child(3) {
    top: 12px;
}

#hamburger span:nth-child(4) {
    top: 24px;
}

#hamburger.open span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
}

#hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%;
}

/*--------------------------------------------------------------
## Header-Logo
--------------------------------------------------------------*/

.nav-logo {
    width: 100px;
    height: 58px;
    float: left;
    border: 1px solid black;
}

.nav-logo p {
    text-align: center;
    vertical-align: middle;
}

/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Hero-image
--------------------------------------------------------------*/

.hero-image h1{
    font-size: 40px;
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;

}
.hero-image p{
    font-size: 25px;
}

.hero-image{
    height: 440px;
    float: left;
    background-size: cover;
    background: url("http://canleyheightsrsl.com.au/wp-content/uploads/2013/12/placeholder.jpg") center;
    display: flex;
}

/*--------------------------------------------------------------
## Programs
--------------------------------------------------------------*/

.flex-container {
    display: flex;
    flex-flow: row wrap;
}
.programs {
    width: 48%;
    display: flex;
}

.programs-number {
    font-size: 120px;
    margin: 0 20px 0 0;
}

.program-body {
}

.programs-title {
    font-size: 24px;
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
}

.programs-text {
    font-size: 14px;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

.programs-readmore {
}

.fin-button {
    width: 150px;
    height: 50px;
    border: none;
    color: #fff;
    font-size: 1.2em;
    font-family: 'Roboto Slab', serif;
}

@media (min-width: 120px) and (max-width: 480px) {
    .programs {
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 980px) {
    .programs {
        width: 100%;
    }
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog-row {
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blog-container {
    padding: 10px;
    width: 31%;
}

.blog-img-container {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}

.blog-img {
    width: 100%;
}

.blog-info {
    width: 100%;
    background-color: #fff;
}

.blog-title {
    margin: 0;
    padding: 10px 20px;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

.blog-description {
    padding: 0 20px;
    font-family: 'Roboto Slab', serif;
}

.blog-button {
    width: 100px;
    height: 40px;
    border: none;
    color: #fff;
    margin: 0 20px;
    font-size: .8em;
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
}

#first-row {

}

#second-row {

}

#third-row {

}

.fin-color {
    background-color: #abc;
}

.fin-white {
    background-color: #fff;
}

.fin-gray {
    background-color: #ccc;
}

#showMore {
    display: block;
    width: 100px;
    height: 40px;
    border: none;
    margin: 0 auto;
    font-size: .8em;
    margin-bottom: 50px;
}

@media (min-width: 120px) and (max-width: 480px) {
    .blog-container {
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 980px) {
    .blog-container {
        width: 50%;
        margin: 0 auto;
    }
}

@media (min-width: 981px) {
    .blog-container {
        width: 30%;
    }
}

/*--------------------------------------------------------------
# Page-blog
--------------------------------------------------------------*/
.page-blog-title {
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
}

.page-blog-img-container {
    width: 66%;
    background-color: #ddd;
}

.page-blog-img {
    width: 100%;
    height: 100%;

}

.page-blog-text {
    width: 66%;
    margin-bottom: 150px;
    font-family: 'Roboto Slab', serif;
}

.page-blog-text p {
    font-size: 1.1em;
}

.previous-next-container {
    width: 66%;
}

.previous-container {
    width: 50%;
    float: left;
}

.next-container {
    width: 50%;
    float: left;
}

.next-container p {
    text-align: right;
}



@media (min-width: 120px) and (max-width: 640px) {
    
    .page-blog-img-container {
        width: 100%;
    }

    .page-blog-text {
        width: 100%;
    }

    .next-container {
        width: 100%;
    }

    .page-blog-P-N {
        width: 100%;
        float: left;
        font-family: 'Roboto', sans-serif;
    }

    .page-blog-previous {
        width: 100%;
        float: left;
        text-align: left;
        font-size: 1.1em;
        font-family: 'Roboto Slab', serif;
    }

    .page-blog-next {
        width: 100%;
        float: left;
        text-align: right;
        font-size: 1.1em;
        font-family: 'Roboto Slab', serif; 
    }

    .previous-next-container {
        width: 100%;
    }

    .previous-container {
        width: 50%;
    }

    .next-container {
        width: 50%;
    }

    .next-container p {
    }
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.content-title {
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
}

.content-text {
    width: 66%;
    font-family: 'Roboto Slab', serif;
}

.content-container {
    min-height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.content-semi-container {
    width: 23%;
    height: 200px;
    background-color: #fff;
}

.content-semi-container p {
    font-size: 1.6em;
    padding: 15px;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
}




@media (min-width: 120px) and (max-width: 480px) {
    .content-text {
        width: 88%;
    }

    .content-semi-container {
        margin: 20px auto;
        width: 100%;
        height: 200px;
        background-color: #fff;
    }

    .content-container {
        padding: 0 0 30px 0;
        min-height: 250px;
        width: 100%;
        display: block;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 481px) and (max-width: 980px) {
    .content-semi-container {
        width: 49%;
        margin: 5px auto;
        height: 200px;
        background-color: #fff;
    }

    .content-container {
        padding: 0 0 30px 0;
        min-height: 250px;
        width: 100%;
        align-items: center;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-text{
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}
